processed_data/PCHiC_peak_matrix_cutoff5.tsv
processed_data/ABCpaper_NasserFulcoEngreitz2020_Blood_AvgHiC.txt.gz
processed_data/Roadmap_Enhancers_Blood.txt
processed_data/Roadmap_Enhancers_Blood.txt
processed_data/Roadmap_per_gene_beds_Blood.rda
processed_data/RoadmapLinks.tar.gz
processed_data/AllPredictions.AvgHiC.ABC0.015.minus150.withcolnames.ForABCPaper.txt.gz
processed_data/allgenes_s2g/*
